@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Fredoka:wght@300..700&display=swap');
:root {
    --light-yellow: #FFE8BD;
    --yellow-orange: #D19240;
    --blue-green: #839792;
    --dark-brick:#813D3A;
    --white: #FFFFFF;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: Fredoka;
  background-color: var(--light-yellow);
}

/*body {
  /* 3. Add accessible line-height 
  line-height: 1.5;
  /* 4. Improve text rendering 
  -webkit-font-smoothing: antialiased;
  font-family: Fredoka;
  background-color: var(--light-yellow);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, auto);
  gap: 20px;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}*/

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*Header*/
.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, auto);
    gap: 20px;
}

.home header {
    background-image: url(Images/brickwall.png);
    height: 65vh;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.about header, .order header {
    background-image: url(Images/brickwall.png);
    height: 30vh;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/*.order header {
    background-image: url(Images/brickwall.png);
    height: 20vh;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}*/

hr {
    border: 0px solid #000;
}

.home header #title {
    position: relative;
    font-size: 5.5rem;
    color: var(--light-yellow);
    text-align: left;
    padding: 5%;
    line-height: 110%;
    width: 70%;
    text-transform: uppercase;
}

.about header #title, .order header #title{
    position: relative;
    font-size: 4.5rem;
    color: var(--light-yellow);
    text-align: center;
    padding: 5%;
    line-height: 110%;
    width: 100%;
    text-transform: uppercase;
}

/*.order header #title {
    position: relative;
    font-size: 3rem;
    color: var(--light-yellow);
    text-align: left;
    padding: 3%;
    line-height: 90%;
    width: 70%;
    text-transform: uppercase;
}*/

#welcome{
    font-size: 1.5rem;
    color: var(--white);
    width: 60%;
    position: absolute;
    transform: translate(10%, 480%);
}

.home .navBar {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 2%;
    gap: 3%;
    right: 20px;
}

.about .navBar, .order .navBar{
    display: flex;
    align-items: center;
    position: absolute;
    padding: 2%;
    gap: 3%;
    transform: translate(350%, -220%);
    margin-top: 20px;
}

/*.order .navBar {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 2%;
    gap: 3%;
    transform: translate(350%, -110%);
}*/

.home .navigation{
    text-decoration: none;
    background-color: var(--yellow-orange);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.about .navigation, .order .navigation{
    text-decoration: none;
    background-color: var(--yellow-orange);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

/*.order .navigation{
    text-decoration: none;
    background-color: var(--yellow-orange);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}*/


.navigation:hover {
    transform: scale(1.1);
    background-color: var(--blue-green);
}

/*Coffee definition*/
.home .coffee:nth-of-type(3){
    font-size: 1.25rem;
    width: 80%;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
    color: var(--blue-green);
}

.home .coffee p.definition span.emphasis:nth-child(1){
    font-size: 6rem;
    font-weight: bold;
    color: var(--yellow-orange);
    display: block;
}

.home .coffee p.definition span.emphasis:nth-child(2){
    font-size: 2rem;
    font-weight: bold;
    color: var(--yellow-orange);
}

.home #banner{
    grid-column-start: 2;
    grid-row-start: -12;
    margin-top: 2rem;
}

.home .imgBanner {
    width: 50vw;
    height: 60vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 50px;
    right: 20px;
}

.home a[href="#bottomPage"] { 
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: var(--dark-brick);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    width: 240px;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    grid-column-start: 2;
    grid-row-start: -11;
    z-index: 1;
    height: 60px;
    margin-left: 450px;
}

.home a[href="#bottomPage"]:hover {
    transform: scale(1.1);
    background-color: var(--blue-green);
}

/*Coffee Image*/
.home .coffee:nth-of-type(4){
    margin-top: 120px;
    grid-column-start: 1;
    grid-row-start: -11;
    align-self: top;
    justify-self: center;
}


.home .coffee img {
    width: 600px;
    border-radius: 50px;
}

.home a[href="order.html"] {
    grid-column-start: 1;
    grid-row-start: 3;
    align-self: center;
    justify-self: center;
    z-index: 1;
}

.home a[href="order.html"] button{
    background-color: var(--yellow-orange);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    border: none;
    position: relative;
    top: -150px;
}

.home a[href="order.html"] button:hover {
    transform: scale(1.1);
    background-color: var(--blue-green);
}

/*Steps in Making Coffee*/
.home .coffee:nth-of-type(2){
    grid-column-start: 2;
    grid-row-start: -11;
    align-self: center;
    justify-self: center;
    place-self: center;
    width: 80%;
    margin-right: 50px;
    margin-top: 100px;
}

.home .coffee:nth-of-type(2) h2{
    font-size: 4rem;
    width: 80%;
    color: var(--blue-green);
    text-align: center;
    margin: 0 auto;
}

.home .coffee:nth-of-type(2) ol{
    font-size: 1.3rem;
    text-align: justify;
}

.home .coffee:nth-of-type(2) ol li{
    color: var(--dark-brick);
}

/*Coffee History*/
.home .coffee:nth-of-type(5){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: 20rem;
    font-size: 1.3rem;
}

.home .coffee #bottomPage {
    margin-top: 50px;
    background-image: url(Images/brickwall.png);
    border-radius: 50px;
    color: var(--light-yellow);
    padding: 30px;
    width: 80%;
    text-align: center;
}

/*Go to Top Button*/
.home a[href="#title"] {
    display: inline-block;
    text-decoration: none;
    background-color: var(--dark-brick);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    margin-top: 10px;
    margin-right: 50%;
}

.home a[href="#title"]:hover {
    transform: scale(1.1);
    background-color: var(--blue-green);
}

.home footer {
    grid-column: 1 / -1;
    grid-row-start: 12;
    align-items: center;
    background-image: url(Images/brickwall.png);
    color: var(--white);
    text-align: center;
    padding: 50px;
    font-size: 1rem;
    justify-content: center;
    min-height: 100px;
}

.home footer #title {
    all: unset;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.home footer .contacts {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.5;
}

.home footer p{
    font-size: 1rem;
    text-align: center;
    display: inline;
}

/*Order*/
.order .imgBanner {
    width: 95vw;
    height: 40vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 15px;
    transform: translate(2.3%,20%);
}

.order a[href="#bottomPage"] { 
    display: inline-block;
    text-decoration: none;
    background-color: var(--dark-brick);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1rem;
    transform: translate(850%, 80%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.order a[href="#bottomPage"]:hover {
    transform: translate(850%, 80%) scale(1.1);
    background-color: var(--blue-green);
}

.order .coffee h2 {
    position: absolute;
    transform: translate(20%, -259.5%);
    font-size: 6.5rem;
    color: var(--yellow-orange);
    font-weight: bold;
    text-shadow: 7px 5px 1px #FFE8BD;
}

.order #tagline {
    position: absolute;
    transform: translate(43%, -930%);
    border-left: 0.25rem var(--dark-brick);;
    font-size: 1.5rem;
    text-align: left;
    color: var(--dark-brick);
    font-weight: 500;
}

.order #coffee_choices tr:nth-child(1) td {
    text-transform: uppercase;
    position: absolute;
    transform: translate(70%, 10%);
    font-size: 5rem;
    font-weight: bold;
    color: var(--dark-brick); 
    letter-spacing: 5px;
    text-align: center;
    width: 40%;
}
.order #coffee_choices tr:nth-child(1) .coffeeTitle::after {
    content: '';
    position: absolute;
    left: -45%;
    bottom: 0;
    width: 200%;
    height: 2px;
    background-color: var(--dark-brick);
    }

.order #coffee_choices tr:nth-child(2) td {
    padding: 10px;
    text-align: center; 
    border-collapse: collapse;
    transform: translate(0%, 60%);
}

.order .coffeeImg {
    width: 300%; 
    height: 250%;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.order .coffeeImg:hover {
    transform: scale(1.05); 
}

.order #coffee_choices tr:nth-child(3) .label {
    text-align: center; 
    transform: translate(0%, 600%);
    text-decoration: none;
    text-wrap: balance;
    background-color: var(--dark-brick);
    color: var(--white);
    font-weight: bold;
    padding: 0.1% 0.5%;
    border-radius: 30px;
    font-size: 0.9rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.order #coffee_choices tr:nth-child(4) td {
    text-transform: uppercase;
    position: absolute;
    transform: translate(70%, 150%);
    font-size: 5rem;
    font-weight: bold;
    color: var(--dark-brick); 
    letter-spacing: 5px;
    text-align: center;
    width: 40%;
}

.order #coffee_choices tr:nth-child(4) .coffeeTitle::after {
    content: '';
    position: absolute;
    left: -45%;
    bottom: 0;
    width: 200%;
    height: 2px;
    background-color: var(--dark-brick);
}

.order #coffee_choices tr:nth-child(5) td {
    padding: 10px;
    text-align: center; 
    border-collapse: collapse;
    transform: translate(0%, 125%);
}

.order .coffeeImg {
    width: 300px; 
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.order .coffeeImg:hover {
    transform: scale(1.05); 
}

.order #coffee_choices tr:nth-child(6) .label {
    text-align: center; 
    transform: translate(0%, 1300%);
    text-decoration: none;
    text-wrap: balance;
    background-color: var(--dark-brick);
    color: var(--white);
    font-weight: bold;
    padding: 0.1% 0.5%;
    border-radius: 30px;
    font-size: 0.9rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.order footer {
    grid-column: 1 / -1;
    align-items: center;
    background-image: url(Images/brickwall.png);
    color: var(--white);
    text-align: center;
    padding: 10px;
    justify-content: center;
    min-height: 50px;
    margin-top: 40%;
}

.order footer #title {
    all: unset;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.order footer .contacts {
    font-size: 1rem;
    margin: 5px 0;
    line-height: 1.5;
}

.order footer p{
    font-size: 1rem;
    text-align: center;
    display: inline;
}

.coffee form {
    display:inline-block;
    width: 50%;  
    padding: 1% 1%;
    background-image: url(Images/brickwall.png);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translate(50%, 90%);
}

.order .coffee label {
    display: flex;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
    color: var(--light-yellow);
    transform: translate(25.4%, 80%);
}

.coffee input[type="text"], .coffee input[type="email"] {
    width: 50%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.coffee select {
    appearance: ;
    display: flex;
    font-weight: bold;
    text-align: center;
    width: 50%;
    padding: 8px;
    margin-bottom: 1%;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: var(--dark-brick);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: translate(50%, 10%);
}

.coffee select:hover {
    background-color: #f8d7a1;
    transform: translate(50%, 10%) scale(1.05);
    border-color: #e69500;
}

.coffee input[type="submit"]{
    display: inline-block;
    text-decoration: none;
    background-color: var(--yellow-orange);
    color: var(--white);
    font-weight: bold;
    padding:5px 0px;
    border-radius: 20px;
    font-size: 2rem;
    transform: translate(00%, 65%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 80%;
    transition: transform 0.2s ease-in-out;
}

.coffee input[type="submit"]:hover {
    transform: translate(0%, 65%) scale(1.05);
    background-color: var(--blue-green);
    cursor: pointer;
}

.order a[href="#title"] {
    display: inline-block;
    text-decoration: none;
    background-color: var(--dark-brick);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1rem;
    transform: translate(20%, 1300%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.order a[href="#title"]:hover {
    transform: translate(20%, 1300%) scale(1.1);
    background-color: var(--blue-green);
}



/* About */
.about #banner{
    grid-column-start: 2;
    grid-row-start: -12;
    margin-top: 2rem;
}

.about .imgBanner {
    width: 50vw;
    height: 55vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 50px;
    transform: translate(95%, -5%);
}


.about a[href="#bottomPage"] { 
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: var(--dark-brick);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    width: 240px;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    grid-column-start: 2;
    grid-row-start: -11;
    z-index: 1;
    height: 60px;
    margin-left: 450px;
    transform: translate(320%, -25%);
}

.about a[href="#bottomPage"]:hover {
    transform: translate(320%, -25%) scale(1.1);
    background-color: var(--blue-green);
}

.about .coffee .imgBanner{
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(60%,-170%);
}

.about .coffee:has(#banner) p.definition {
    font-size: 1.9rem;
    text-align: center;
    color: var(--dark-brick);
    font-weight: bold;
    width: 40vw;
    position:absolute;
    transform: translate(10%, -600%);
} 

.about .coffee:nth-of-type(3) h2{
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--dark-brick); 
    letter-spacing: 2px;
    margin-bottom: 20px;
    width: 40%;
    transform: translate(80%, -400%);
    text-decoration: underline;
}

.about .coffee ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    margin-top: -300px;
}

.about .coffeeVideo{
    width: 60vw;
    max-width: 800px;
    height: 175px;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    margin-top: -20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about .coffeeVideo:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}

.about .coffee:nth-of-type(4) h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--dark-brick); 
    letter-spacing: 2px;
    margin-bottom: 20px;
    width: 40%;
    transform: translate(90%, 0%);
    text-decoration: underline;
}

.about .coffee table tr:nth-child(1) td {
    text-align: center;
    transform: translate(0%, -5%);
}

.about .teamMember{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    transition: trasnform 0.3s ease-in-out;
}

.about .teamMember:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.about .coffee table tr:nth-child(2) td {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-brick);
    transform: translate(0%, -10%);
}

.about .label::after{
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background-color: var(--dark-brick);
    margin: 5px auto 0;
}

.about .coffee:nth-of-type(5){
    font-size: 1.0rem;
    text-align: center;
    color: var(--white);
    width: 80%;
    background-color:  #813D3A;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 10px;
    transform: translate(0%, 15%);
}

.about .coffee .emphasis{
    font-size: 1.3rem;
    line-height: 1.6;
    color: #000;
    text-align: center;
    font-weight: bold;
} 

.about .coffee:nth-of-type(6){
    font-size: 1.0rem;
    text-align: justify;
    color: var(--dark-brick);
    width: 30vw;
    transform: translate(10%, 15%);
}


.about .coffee .term{
    font-weight: bold;
    color: #8b5e3b;
    background: rgba(255, 239, 210, 0.5);
    padding: 2px 5px;
    border-radius: 5px;
}

.about .coffee:nth-of-type(6) img{  
    display: block;
    margin: 20px auto;
    width: 70%;
    height: 50%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transform: translate(140%, -90%);
}

.about .coffee:nth-of-type(7){
    font-size: 1.0rem;
    text-align: justify;
    color: var(--dark-brick);
    width:30vw;
    transform: translate(210%, -208%);
}

.about .coffee #bottomPage{
    font-size: 1.0rem;
    text-align: center;
    width: 50%;
    background-color:  #813D3A;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 10px;
    transform: translate(0%, -300%); 
    color: #FFFFFF;
}

.about a[href="#title"] {
    display: inline-block;
    text-decoration: none;
    background-color: var(--dark-brick);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    margin-top: 10px;
    margin-right: 50%;
    transform: translate(10%, -1100%);
}

.about a[href="#title"]:hover {
    transform: scale(1.1);
    background-color: var(--blue-green);
}


.about footer {
    grid-column: 1 / -1;
    align-items: center;
    background-image: url(Images/brickwall.png);
    color: var(--white);
    text-align: center;
    padding: 10px;
    justify-content: center;
    min-height: 50px;
}

.about footer #title {
    all: unset;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.about footer .contacts {
    font-size: 1rem;
    margin: 5px 0;
    line-height: 1.5;
}

.about footer p{
    font-size: 1rem;
    text-align: center;
    display: inline;
}